Body {
  background-color: #FF6405;
  }

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #FA8C01;
  height: 150px;
  padding: 20px;
  color: #332312;
}

.Container {
  margin:auto;
  width: 80%;
  background-color: #FA8C01;
  text-align: center;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.FilterableRoomTable {
  margin:auto;
  display: inline-block;
}
.DescriptionBar {
  
}
.LeftColumn {
  text-align: left;
  font-size: 150%;
 
}
.RightColumn {
  text-align: left;
  font-size: 150%;
}
.RoomTable {
  white-space:nowrap;
  justifyContent:'space-around';
  column-gap: 40px; 
}
.RoomRow {
  flexDirection: 'row';
  justifyContent: 'space-around'

}
.RoomColumn {

}
.RoomRow {

}

