.App {
  
  }

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #333;
  height: 150px;
  padding: 20px;
  color: black;
}

.Container {
  margin:auto;
  width: 70%;
  border: 5px solid skyblue;
  text-align: center;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.FilterableRoomTable {
  margin:auto;
  display: inline-block;
}
.DescriptionBar {
 
}
.RoomTable {
  white-space:nowrap;
  justifyContent:'space-around'  
}
.RoomRow {
  flexDirection: 'row';
  justifyContent: 'space-around'

}
.RoomColumn {

}
.RoomRow {

}

